body {
   font-family: "Open Sans", Verdana, Tahoma, Arial, sans-serif;
}
/*
div#dnbDplDBsContainer {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-height: 800px;
}
*/

div#dnbDplDBsContainer {
   display: inline-block;
}

div.dnbDplDBs {
   float: right;
}

table.dnbDplDBsSection {
   border-collapse: collapse;
   margin: 20px 35px 20px 5px;
   width: 420px;
   box-shadow: 0 0 20px 1px rgba(0, 0, 0, .2);
}

table.dnbDplDBsSection caption {
   background-color: #009ECE;
   color: #fff;
   text-align: center;
   font-weight: bold;
   height: 40px;
   line-height: 38px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
}

table.dnbDplDBsSection tbody {
   border-bottom: 2px solid #009ECE;
}

table.dnbDplDBsSection tbody tr.bottomRow {
   border-bottom: 1px solid #dddddd;
}

table.dnbDplDBsSection tbody tr th {
   text-align: left;
   font-weight: normal;
   font-style: italic;
   padding-left: 5px;
}

table.dnbDplDBsSection tbody tr td {
   padding: 4px 10px;
}

span.btnPlusMinus {
   float: right;
   background-color: #009ECE;
   color: #fff;
   font-weight: bold;
   width: 22px;
   text-align: center;
}
